@model WebApplication4.Models.Transaction

@{
    ViewData["Title"] = "Manage Transaction";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Manage</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Close">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="t_Id" />
            <div class="form-group">
                <label asp-for="u_name" class="control-label">User Name:</label>
                <input asp-for="u_name" class="form-control" readonly />
                <span asp-validation-for="u_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="u_id" class="control-label">User ID:</label>
                <input asp-for="u_id" class="form-control" readonly />
                <span asp-validation-for="u_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t_bloodtype" class="control-label">Blood Type:</label>
                <input asp-for="t_bloodtype" class="form-control" readonly/>
                <span asp-validation-for="t_bloodtype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t_status" class="control-label">Transaction Status:</label>
                <select asp-for="t_status" name="t_status" asp-validation-for="t_status" class="form-control" placeholder="Select Status">
                    <option value="Pending">Pending</option>
                    <option value="Closed">Closed</option>
                </select>
               
                @*<span asp-validation-for="t_status" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="t_type" class="control-label">Transaction Type:</label>
                <input asp-for="t_type" class="form-control" readonly />
                <span asp-validation-for="t_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t_bloodquantity" class="control-label">Blood Quantity:</label>
                <input asp-for="t_bloodquantity" class="form-control" />
                <span asp-validation-for="t_bloodquantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t_bloodprice" class="control-label">Blood Price:</label>
                <input asp-for="t_bloodprice" class="form-control" readonly/>
                <span asp-validation-for="t_bloodprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t_date" class="control-label">Transaction Date:</label>
                <input asp-for="t_date" class="form-control" readonly/>
                <span asp-validation-for="t_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Close" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



