
@{
    ViewData["Title"] = "Confirmation";
      Layout = "~/Views/Shared/_Layout_u.cshtml";
}
<h1>Confirmation</h1>
<p>Thank you for Using our Portal, your Ticket ID is @ViewBag.TID. Visit @ViewBag.Hospital within 24 Hours to Claim your Ticket</p>
