@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>The Privacy Policy for Blood Bank International website outlines how personal information provided by users is collected, used, and safeguarded. We do not sell or rent personal information to third parties and use appropriate measures to protect it. Cookies are used to personalize user experience and track behavior. We encourage users to review third-party website privacy policies. The policy may be updated and any changes will be posted on the website. Contact us at privacy@bloodbankinternational.com for any questions or concerns.</p>
