@model WebApplication4.Models.Blood_data

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Create</h1>

<h4>Blood_data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="h_id" class="control-label">Hospital ID:</label>
                <input asp-for="h_id" class="form-control"  value="@ViewBag.h_id" readonly />
                <span asp-validation-for="h_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="b_type" class="control-label">Blood Group</label>
                
                <select asp-for="b_type">
                    <option value="A+">A Positive</option>
                    <option value="A-">A Negative</option>
                    <option value="B+">B Positive</option>
                    <option value="B-">B Negative</option>
                    <option value="AB+">AB Positive</option>
                    <option value="AB-">AB Negative</option>
                    <option value="O+">O Positive</option>
                    <option value="O-">O Negative</option>
                </select>
                <span asp-validation-for="b_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="b_quantity" class="control-label"></label>
                <input asp-for="b_quantity" class="form-control" />
                <span asp-validation-for="b_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="b_price" class="control-label"></label>
                <input asp-for="b_price" class="form-control" />
                <span asp-validation-for="b_price" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input type="hidden" name="auth" class="form-control" value="@ViewData["auth"]" />
                <input type="hidden" name="name" class="form-control" value="@ViewData["name"]" />
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "Blood_data", new { h_id=ViewBag.h_id,param1 = ViewData["auth"],name=ViewData["name"]})""">Back to List</a>
</div>

