@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi!</h1>
    <p>Welcome to the Portal of Blood Bank International. Signup/ Login to Experience our Portal</p>
</div>
