@model WebApplication4.Models.Hospital

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<h1>Edit</h1>

<h4>Hospital</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="h_Id" />
            <div class="form-group">
                <label asp-for="h_name" class="control-label">Hospital Name:</label>
                <input asp-for="h_name" class="form-control" />
                <span asp-validation-for="h_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="h_location" class="control-label">Hospital Location:</label>
                <input asp-for="h_location" class="form-control" />
                <span asp-validation-for="h_location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="h_loc_url" class="control-label">Hospital Location URL:</label>
                <input asp-for="h_loc_url" class="form-control" />
                <span asp-validation-for="h_loc_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="h_img" class="control-label">Hospital Image URL:</label>
                <input asp-for="h_img" class="form-control" />
                <span asp-validation-for="h_img" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="h_city" class="control-label"> Select City</label>
            <select asp-for="h_city" class="form-control">
                @{
                    var products = ViewBag.Products as List<string>;
                }


                @foreach (var i in products)
                {
                    <option value="@i">@i</option>
                }
            </select>
            </div>
            <div class="form-group">
                <label asp-for="h_bloodquantity" class="control-label">Hospital Blood Quantity:</label>
                <input asp-for="h_bloodquantity" class="form-control" />
                <span asp-validation-for="h_bloodquantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


